@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    min-width: 800px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
header{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: azure;
}
header h1{
    font-weight: 300;
    text-transform: uppercase;
    color: cornflowerblue;
    font-size: 26px;
    line-height: 42px;
}
header h1 i{
    color: yellow;
    display: block;
    padding: 5px;
    background-color: cornflowerblue;
    border-radius: 50%;
}
.search-wrap{
    position: relative;
}
.search-wrap input#city-name{
    padding: 10px 50px 10px 20px;
    line-height: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
}
.search-wrap input#city-name:focus-visible{
    border-color: lightblue;
    outline: none;
}
.search-wrap button{
    display: none;
    position: absolute;
    border: none;
    border-radius: 19px;
    top:1px;
    right: 1px;
    height: 40px;
    width: 40px;
    color: #222;
    background-color: lightblue;
    cursor: pointer;
    transition: background-color ease-in-out .3s, color ease-in-out .3s;
}
.search-wrap button.search:hover{
    background-color: deepskyblue;
    color: #fff;
}

.search-wrap.close button.search{
    display: block;
}
.search-wrap button.close{
    background-color: #ddd;
    color: lightblue;
}
.search-wrap button.close{
    display: block;
}.search-wrap.close button.close{
    display: none;
}
.search-wrap.close .input-autocomplate{
    display: none;
}
.pac-container{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 7px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif;
}
.pac-container .pac-item{
    list-style: none;
    cursor: pointer;
    font-size: 14px;
}
.pac-container .pac-item:hover{
    color: cornflowerblue;
}
.pac-container .pac-item:first-child{
    border-top: none;
}
main{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

/* ERROR */

.error-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-container .error{
    background-color: white;
    padding: 30px 40px;
    width: 500px;
    position: relative;
    font-size: 16px;
    border-radius: 10px;
    min-height: 200px;
}
.error-container .error .title{
    display: flex;
    gap: 10px;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: darkred;
}
.error-container .error .title i{
    font-size: 35px;
}
.error-container .error .title h3{
    font-weight: 400;
}
.error-container .error button{
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;font-size: 26px;
    line-height: 30px;
    cursor: pointer;
}

/* Weather city */
.weather-city{
    width: 100%;
    background-color: #224f83;
    padding: 20px 20px;
    color: #fff;
}
.weather-city.hidden{
    display: none;
}
.weather-city .city{
    width: 100%;
    border-bottom: 1px solid #355e8e;
}
.weather-city .city h2{
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 10px;
}
.weather-city .first-line,
.weather-city .secound-line{
    display: flex;
    padding: 10px 0;
}.weather-city .first-line{
    margin-bottom: 10px;
    border-bottom: 1px solid #355e8e;
}
.weather-city .first-line .sun{
    margin-left: 10px;
}
.weather-city .first-line .sun i{
    color: yellow;
}
.weather-city .secound-line .icon{
    width: 20%;
}
.weather-city .secound-line .icon img{
    width: 100%;
}
.weather-city .secound-line .temp{
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 40px;
}
.weather-city .secound-line .details{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-transform: capitalize;
}
.weather-city .secound-line .details .desc{
    width: 100%;
    font-weight: 600;
    margin-bottom: 15px;
}
.weather-city .secound-line .details .feel,
.weather-city .secound-line .details .wind{
    width: 30%;
}
.weather-city .secound-line .details .pressure{
    width: 30%;
}
.weather-city .secound-line .details .name{
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #ccc;
}